body{
    font-family: "Open Sans", sans-serif;   
    min-height: 100vh;
    background: rgb(5,5,5);
    background: linear-gradient(0deg, rgba(5,5,5,0) , rgba(20,33,61,1) 100%);
    background-color: #fca311;    
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    height: 150px;
    background:rgba(73, 73, 73, 0.226);
    justify-content: space-evenly;
    align-items: center;
}

.header__title{
    color: white;
    font-family:"Poppins", sans-serif;
    font-size: 26px;
}

.header__container--Home{
    cursor: pointer;
    text-align: center;
    color: white;  
}

.header__container--Home p{
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    font-weight: bold;
}

main{
    display: block;
}

.section{
    text-align: center;
}

.CapacidadDeEndeudamiento{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 700px));
    gap: 20px;
    justify-content: center;
    padding: 30px;
}

.DatosCliente__item1{
    border: 2px solid black;
    background-color: rgba(163, 162, 162, 0.418);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    place-self: center;
    width: 350px;
}

.DatosCliente__item1 h2{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.DatosCliente__item1 p{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.DatosCliente__container--label{
    font-size: 19px;
    display: block;
    margin-bottom: 10px;
}

.DatosCliente__container--laber2{
    font-size: 19px;
    display: block;
    margin-bottom: 10px;
}

.DatosCliente__container--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    background-color: rgba(163, 162, 162, 0.418);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    outline: none;
    height: 30px;
    width: 290px;
}

.Gastos__item1{
    border: 2px solid black;
    background-color: rgba(163, 162, 162, 0.418);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    place-self: center;
    width: 350px;
}

.Gastos__item1 h2{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Gastos__item1 p{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Gastoscliente__container--laber1{
    font-size: 19px;
    display: block; 
    margin-bottom: 10px;
}

.Gastos__container--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Capacidad__item{
    border: 2px solid black;
    background-color:rgba(163, 162, 162, 0.418);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    place-items: center;
}

.Capacidad__item p{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Capacidad__container--laber1{
    font-size: 19px;
    margin-bottom: 10px;
}

.InputCapacidadEndeu{
    accent-color: #0013FF;
    width: 20px;
    height: 20px; 
}

.InputCapacidadEndeu--label{
    font-size: 16px;
    font-weight: bold;
}

.CapacidadDeEndeudamiento button{
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 500px;
    height: 100px;
    font-family: 'Mulish', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #08FF00;    
    justify-self: center;
    align-self: center;
}

.CapacidadDeEndeudamiento button:hover{
    background-color: #416568;
}