body{
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    background: rgb(5,5,5);
    background: linear-gradient(0deg, rgba(5,5,5,0) , rgba(20,33,61,1) 100%);
    background-color: #fca311;    
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
    background:rgba(73, 73, 73, 0.226);
}

.header__title{
    color: white; 
    font-family: "Poppins", sans-serif; 
    font-size: 26px; 
}

.header__container--Home{
    cursor: pointer;
    text-align: center;
    color: white;  
}

.header__container--Home p{
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    font-weight: bold;
}

main{
    display: block;
}

.section{
    text-align: center;
    
}

.Figuras{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 400px));
    gap: 19px;
    justify-content: center;
    padding: 40px;
}

.figuras__item{
    border: 2px solid black;
    background-color:rgba(163, 162, 162, 0.418);
    border-radius: 25px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    place-self: center;
}

.figuras__item h2{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Matematicas__container--label{
    font-size: 19px;
    display: block;
    margin-bottom: 10px;
}

.Matematicas__container--from{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    background-color:rgba(163, 162, 162, 0.418);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    outline: none;
    height: 30px;
    width: 100px;
}

.Matematicas__container--from button{
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;
    font-family: 'Mulish', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    background-color:#08FF00;
}

.Matematicas__container--from button:hover{
    background-color: #416568;
}

.resultado{
    position: fixed;
    background-color: rgba(9, 9, 9, 0.6);
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    display: none;
    place-items: center;
}

.resultado .resultado__item{
    background-color: #fb8500;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif; 
}
.resultado .resultado__item p {
    margin-top:  10px;
    margin-bottom: 20px;
    text-align: right;
    font-weight: bold;
    font-family: "Open Sans", sans-serif; 
    font-size: 2.4rem;
}

.resultado .resultado__item p span{
    cursor: pointer;
}

#resultadotext{
    margin: 6px;
    font-size: 60px;
}




